{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/form.css') }}" rel="stylesheet" />
<link href="{{ asset('css/inscription.css') }}" rel="stylesheet" />

{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h3>Resitration</h3>
    {{ form_start(form) }}
    <div id = "name-field">
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
    </div>
    {{ form_row(form.email) }}
    {{ form_row(form.num) }}
    {{ form_row(form.confirmeNum) }}

    <div id="inscription-buttons">
        {{ form_widget(form.send) }}
        <a href="{{ path('app_user') }}" class="btn btn-secondary">Go back</a>
    </div>
    {{ form_end(form) }}
    {% endblock %}