{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ user.nom }}  {{ user.prenom }}! ✅</h1>
    <br>

    <nav>
        	<h2> Au menu :</h2> 
            <ul>
                <li><a href="http://connetandvisualise.test/user/ident">connexion</a></li>
                <li><a href="http://connetandvisualise.test/contact/contact?IdNom={{ user.idNom}}">accueil</a></li>
            </ul>
    </nav>

    {% if contact|length == 0 %}
		<h2>you have 0 contact</h2>
    {% else %}
        <h2>your contact(s):</h2>
        <table><tr><th>nom</th><th>prenom</th><th>email</th></tr>
        {% for item in contact %}
            <tr><td>{{item.nom}}</td><td>{{item.prenom}}</td><td>{{item.email}}</td></tr>
        {% endfor %}
        </table>
    {% endif %}
    
</div>
{% endblock %}
