{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/form.css') }}" rel="stylesheet" />
<link href="{{ asset('css/ident.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h3> Login</h3>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.pwd) }}
    
    {% if incorrect is defined %}
    <p style="color: #DC356F; margin-top: 1em;">{{ incorrect }}</p>
    {% endif%}

    <div id="form-button">
        {{ form_widget(form.send) }}
        <a href="{{ path('app_inscription') }}" class="btn btn-secondary">Sign up</a>
    </div>
    {{ form_end(form) }}

</div>
{% endblock %}